*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.topnav{
    background-color:white;
    overflow:hidden;
}
.topnav a {
        float: left;
        display: block;
        color: #b21da2;
        text-align: center;
        padding: 14px 16px;
        font-size: 20px;
        text-decoration:none;
 }
.topnav a:hover{
    background-color:#f7447c;
    color: white;
}

.topnav a.active{
    background-color:#8e234d;
    color:#f7518f;
}
.topnav .icon{
    display: none;
}
div.container{
    width: 100%;
    height: 100vh;
    background-image: url("redsunset.jpg");
    background-position: center;
    background-size: cover;
}
.space{
    display: flex;
    height: 88%;
    align-items: center;
}

div h1{
    font-size: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ff70b4;
}
div h2{
    color: #aa4a7d;
    margin-top:25px;
    margin-bottom:10px;
}
div p{
    font-size: 22px;
    line-height: 26px;
    margin-left: 10px;
    margin-right: 30px;
    color: white;
}


@media screen and (max-width: 600px){
    div h1{
        font-size: 45px;
    }
    div p{
    font-size: 17px;
    line-height: 17px;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon{
        position: absolute;
        right:0;
        top:0;
    }
    .topnav.responsive a{
        float:none;
        display: block;
        text-align: left;
    }
}
